<html>
  <head>
    <title>Slight</title>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    </head>
  </head>

  <body>
    <h1>Slight</h1>

    <ul id="slideshows">
      <li>
        <figure>
          <svg viewBox="0 0 10 10">
            <circle cx="5" cy="5" r="1.5" fill="#eee" />
            <rect x="4.9" y="4" width="0.2" height="2" fill="#111" />
            <rect x="4" y="4.9" width="2" height="0.2" fill="#111" />
          </svg>
          <figcaption><a href="{{ url_for('add_slideshow') }}">Add Slideshow</a></figcaption>
        </figure>
      </li>
      {% for slideshow in (slideshows | sort) %}
        <li>
          <figure>
            <iframe src="{{ url_for('slideshow', name=slideshow.name) }}" loading="lazy"></iframe>
            <figcaption><a href="{{ url_for('slideshow', name=slideshow.name) }}">{{ slideshow.name }}</a></figcaption>
          </figure>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
