body {
  background: #111;
  color: #eee;
  font-family: "Cantarell", sans;
  margin: 2em 1em;
}

h1 {
  bottom: 1em;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 4em;
  letter-spacing: -0.05em;
  line-height: 1;
  margin: 0;
  opacity: 0.3;
  position: fixed;
  right: 1em;
  text-transform: lowercase;
}

#slideshows {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, 18em);
  list-style-type: none;
  padding: 0;
}

figure {
  margin: 0;
  opacity: 0.3;
  transition: opacity 0.5s;
}

figure:hover {
  opacity: 1;
}

figcaption {
  padding: 0.5em 0;
  text-align: center;
  width: 100%;
}

#slideshows a {
  color: inherit;
  text-decoration: inherit;
}

iframe, svg {
  aspect-ratio: 16/10;
  border: none;
  display: block;
  margin: auto;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

input, select {
  background: #eee;
  border: 0;
  border-radius: 0.25em;
  color: #111;
  margin: 0.5em;
  padding: 0.25em 0.5em;
}
