body {
  background: #111;
  color: #eee;
  font-family: "Cantarell", sans;
  text-align: center;
}

h1 {
  box-sizing: border-box;
  font-weight: 100;
  font-size: 3em;
  letter-spacing: -0.05em;
  margin: 1em 0;
  text-transform: lowercase;
}

#slideshows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

figure {
  margin: 1em;
  max-width: 20em;
  opacity: 0.3;
  transition: opacity 0.5s;
}

figure:hover {
  opacity: 1;
}

figcaption {
  padding: 0.5em 0;
  width: 100%;
}

figcaption a {
  color: inherit;
  text-decoration: inherit;
}

iframe, svg {
  aspect-ratio: 16/10;
  border: none;
  display: block;
  margin: auto;
  width: 100%;
}

form {
  display: inline-flex;
  flex-direction: column;
}

label {
  text-align: left;
}

input, select {
  margin: 0.5em 0;
}
