@keyframes saving {
  from { color: inherit }
  to { color: orange }
}

@keyframes saved {
  from { opacity: 1; color: green }
  80% { opacity: 1; color: green }
  to { opacity: 0.2; color: inherit }
}

.reveal-viewport {
  background: transparent;
}

#bars {
  display: flex;
  left: 0;
  padding: 0.5em;
  position: absolute;
  top: 0;
}

#bars .hidden {
  display: none;
}

#bars ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.5em 2em 0.5em 0;
}

#bars a {
  color: inherit;
  cursor: pointer;
  display: block;
  opacity: 0.2;
  padding: 0.5em;
  text-decoration: none;
  transition: opacity 0.5s;
  width: 1em;
}

#bars a:hover,
#bars a:focus {
  opacity: 1;
}

#save.saving a {
  animation: 1s infinite alternate saving;
  opacity: 1;
}

#save.saved a {
  animation: 10s saved;
}

#save.error a {
  color: red;
  opacity: 1;
}

.reveal .slide-number {
  background: none;
  bottom: auto;
  color: #293462;
  font-size: 1em;
  font-weight: 500;
  opacity: 0.5;
  right: 1em;
  text-align: center;
  top: 1em;
}

.reveal .slide-number a {
  color: inherit;
  text-decoration: inherit;
}

.reveal .controls {
  opacity: 0.1;
  transition: 1s;
}

.reveal .controls:hover {
  opacity: 0.5;
}

.reveal section[contenteditable=true] {
  outline: 3px dashed #0003;
}

@media (max-width: 20em) {
  .reveal ~ *,
  .reveal .slides ~ * {
    display: none !important;
  }
}

@media weasyprint {
  @page {
    margin: 0;
    size: 60cm 45cm;
  }

  .reveal .slides {
    line-height: 45cm !important;
    position: static !important;
  }

  .reveal .slides section {
    box-sizing: border-box;
    display: inline-block;
    font-size: 40pt;
    line-height: 1.2;
    max-height: 45cm;
    padding: 0 4cm;
    position: static;
    width: 100%;
    vertical-align: middle;
  }

  .reveal .controls,
  .reveal .slide-number,
  #actions,
  #viewerContainer {
    display: none;
  }
}
